.logo {
  margin: 0;

  @media only screen and (min-width: $mobile-width) {
    &--bruno {
      margin-right: 10px;

      svg {
        width: 100px;
      }
    }

    &--levi {
      margin-bottom: 20px;
    }
  }

  @media only screen and (min-width: $desktop-width) {
    &--bruno {
      margin-right: 20px;

      svg {
        width: auto;
      }
    }
  }

  &__link,
  &__image {
    display: block;
  }
}