.mobile-holder {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  padding: 50px 20px 20px;
  flex-direction: column;
  align-items: center;
  transition: transform .3s linear, opacity .3s linear;

  &--closed-menu {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-100%);
  }
  &--opened-menu {
    opacity: 1;
    height: auto;
    overflow: hidden;
    transform: translateY(0);
  }

  @media only screen and (min-width: $mobile-width) {
    position: static;
    padding: 0;
    opacity: 1;
    height: auto;
    overflow: visible;
    transform: translateY(0);
  
    &--#{$mod-name1} {
      flex-direction: row;
    }
  
    &--#{$mod-name2} {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.mobile-buttons {
  display: flex;
  margin-left: auto;
  position: relative;
  
  @media only screen and (min-width: $mobile-width) {
    display: none;
  }
}

.mobile-menu-opener {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

  svg {
    pointer-events: none;
  }

  .line--1,
  .line--3 {
    --total-length: 126.64183044433594;
  }
  .line--2 {
    --total-length: 70;
  }

  .line--1,
  .line--2,
  .line--3 {
    --length: 24;
    --offset: -38;
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.645, .045, .355, 1);
  }

  &--opened-menu {
    &:first-child {
      display: none;
    }

    .line--1,
    .line--3 {
      --length: 22.627416998;
      --offset: -94.1149185097;
    }
    .line--2 {
      --length: 0;
      --offset: -50;
    }
  }
}