.nav {
  order: 3;
  width: 100%;
  text-align: center;

  @media only screen and (min-width: $mobile-width) {
    order: 1;
    width: auto;
    text-align: left;
  }
}

.nav-link {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #ccc;
  }

  @media only screen and (min-width: $mobile-width) {
    font-size: 9px;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  &--#{$mod-name1} {
    @media only screen and (min-width: $mobile-width) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    position: relative;

    .nav-list--#{$mod-name2} & {
      @media only screen and (min-width: $mobile-width) {
        padding: 0;
      }
    }

    .nav-list--#{$mod-name1} & {
      @media only screen and (min-width: $mobile-width) {
        padding: 0 10px;
      }

      @media only screen and (min-width: $desktop-width) {
        padding: 0 25px;
      }
    }
  }

  &__link {
    padding: 13px 0;
    order: 1;

    .nav-drop + & {
      pointer-events: none;

      @media only screen and (min-width: $mobile-width) {
        pointer-events: initial;
      }
    }
  }
}

.nav-drop {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  order: 2;
  opacity: 0;
  transform: translateY(20px);
  transition: transform .3s linear, opacity .3s linear;

  .nav-list__item:hover & {
    height: auto;
    opacity: 1;
    padding: 27px 0 17px;
    transform: translateY(0);
  }

  @media only screen and (min-width: $mobile-width) {
    .nav-list__item:hover & {
      padding: 0;
    }
  }

  &--#{$mod-name1} {
    @media only screen and (min-width: $mobile-width) {
      position: absolute;
      left: 0;
      width: 120px;
      top: 100%;
    }

    @media only screen and (min-width: $desktop-width) {
      width: 160px;
    }
  }

  &--#{$mod-name2} {
    @media only screen and (min-width: $mobile-width) {
      .nav-list__item:hover & {
        padding-bottom: 16px;
      }
    }
  }

  &__item {
    padding: 5px 0;

    .nav-list--#{$mod-name1} & {
      @media only screen and (min-width: $mobile-width) {
        padding: 0 10px;
        background-color: #fff;
        margin-bottom: 1px;
      }
      @media only screen and (min-width: $desktop-width) {
        padding: 0 25px;
      }
    }
  }

  &__link {
    font-size: 9px;
    line-height: 10px;
    padding: 8px 0;
    display: block;

    .nav-list--#{$mod-name1} & {
      @media only screen and (min-width: $mobile-width) {
        padding: 17px 0;
      }
    }
  }
}