-
  navLinks = [
    {
      link: 'портфолио',
      drop: [
        {link: 'Видео'},
        {link: 'Видео'},
        {link: 'Видео'},
      ]
    },
    {link: 'Видео'},
    {link: 'отзывы'},
    {link: 'Блог'},
    {link: 'Контакты'},
  ]

doctype html
html(lang="en")
  head
    title vigbo test
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='css/main.css' rel='stylesheet')
  body
    .page.page--bruno
      header.header.header--bruno
        h1.logo.logo--bruno
          a.logo__link(href="#")
            svg.logo__image(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 43" width="132" height="43")
              path(d="M22.68 15.48C25.15 13.41 27.84 11.05 28.21 7.68C26.79 3.45 21.82 2.03 17.75 2.01C11.85 1.66 6.31 3.86 1.01 6.1L1.01 7.33C3.96 8.5 6.79 7.13 9.59 6.36C9.59 6.57 9.57 6.97 9.57 7.17C6.56 10.95 5.35 15.79 4.01 20.33C3.26 20.79 2.51 21.26 1.76 21.73C2.12 22.21 2.85 23.18 3.2 23.67C3.14 26.66 2.64 29.88 3.97 32.68C4.31 34.32 5.99 33.92 7.26 33.99C6.92 33.65 6.25 32.99 5.91 32.65C5.81 32.17 5.62 31.23 5.52 30.77C6.11 28.42 6.38 25.88 7.79 23.84C12.52 21.97 16.9 18.5 22.28 19.05C24.91 19.23 28.45 19.11 30 21.67C30.61 24.61 28.95 27.56 26.75 29.47C23.58 32.63 19.38 34.38 15.63 36.74C12.85 38.42 9.63 39.25 6.41 39.65C4.96 39.65 4.09 38.4 3.11 37.56C2.84 38.12 2.29 39.25 2.01 39.82C3.05 40.7 4.22 41.44 5.47 42C7.82 40.76 10.54 40.97 13.09 41.34C12.94 41.05 12.67 40.47 12.53 40.18C13.93 40.25 15.32 40.29 16.72 40.28C19.68 38.53 23.3 38.11 25.97 35.85C29.82 32.87 35.12 29.76 35.04 24.27C34.68 18.18 27.79 16.16 22.68 15.48ZM20.99 13.43C18.14 16.27 14.08 16.76 10.3 17.47C11.79 13.84 12.49 9.97 13.4 6.17C17.04 6 21.26 4.16 24.61 6.18C26.61 9.04 22.96 11.71 20.99 13.43ZM96.5 33.92C96.4 29.76 98.99 25.72 97.71 21.62C96.56 21.45 95.42 21.26 94.26 21.07C91.79 22.63 89.27 24.15 87.01 26.04C87.65 24.04 88.11 22 88.41 19.93C87.58 19.74 85.92 19.37 85.1 19.19C83.87 22.5 82.64 25.82 81.85 29.27C79.18 31.36 76.7 34.12 73.16 34.68C72.91 32.12 74.27 29.86 75.22 27.58C74.37 26.38 73.39 25.27 72.07 24.56C68.39 28.27 65.4 33.22 60.34 35.18C60.46 30.88 63.12 27.33 64.38 23.37C65.29 21.51 62.01 18.97 60.91 21.05C59.66 23.26 59.08 25.75 58.09 28.07C55.61 30.31 52.71 32.06 50.06 34.11C47.79 35.71 45.84 37.81 43.22 38.88C43.3 35.05 45.46 31.67 47.25 28.39C46.1 26.75 44.59 25.41 43.1 24.08C44.21 22.88 44.83 21.38 45.38 19.89C44 18.49 42.48 17.24 40.86 16.14C39.14 18.4 38.15 21.86 40.46 24.08C38.73 26.16 36.77 28.06 35.01 30.12C38.8 31.28 40.06 25.65 42.95 25.9C42.14 29.12 39.27 31.95 39.66 35.6C39.29 38.66 41.68 40.96 44.59 41.43C48.24 39.82 51.08 37 53.87 34.27C55.46 32.69 57.33 31.37 58.52 29.45C57.37 31.83 56.89 35.74 60.05 36.77C64.01 38.15 67.54 34.53 70.04 31.92C70.25 33.75 70.81 35.86 72.84 36.48C76.35 36.95 78.87 34.18 81.34 32.21C82.17 32.92 83.06 33.56 84.01 34.11C87.41 31.33 89.74 27.47 93.3 24.84C93.12 28.87 92.04 33.35 94.41 36.99C95.35 38.93 97.73 39.67 99.75 39.05C97.78 38.09 95.84 36.33 96.5 33.92ZM42.78 22.65C41.74 24.08 41.01 21.48 41.91 20.86C43.14 19.61 43.51 21.98 42.78 22.65ZM114.75 28.62C114.66 27.49 114.58 26.36 114.5 25.23C111.78 24.22 109.15 20.97 106.16 22.12C104.13 24.48 103.12 27.57 101.93 30.4C100.35 33.51 104.15 37.16 107.27 36.29C109.76 34.73 111.95 32.69 113.8 30.43C117.11 31.9 123.32 31.65 123.59 27.12C120.81 28.23 117.79 29.39 114.75 28.62ZM104.63 33.31C105.42 30.29 106.57 27.26 108.87 25.04C109.66 26.18 110.68 27.25 110.94 28.65C110.19 31.41 107.27 32.82 104.63 33.31ZM129.64 31.29C128.27 30.05 126.35 30.45 125.27 31.81C125.51 32.52 126 33.97 126.24 34.68C126.99 35.06 127.75 35.43 128.51 35.81C129.59 34.58 130.57 32.91 129.64 31.29Z")

        .mobile-holder.mobile-holder--bruno.mobile-holder--closed-menu
          nav.nav
            ul.nav__list.nav__list--bruno
              each item in navLinks
                li.nav__list-item
                  a.nav__list-link(href="#")= item.link
                  if item.drop
                    ul.nav__drop
                      each dropItem in item.drop
                        li.nav__list-item
                          a.nav__list-link(href="#")= dropItem.link
          
          .header__spacer

          form.search
            label.search__label(for="search")
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18")
                path(d="M15.86 15.86C15.67 16.06 15.35 16.06 15.16 15.86C15.16 15.86 12.43 13.14 11 11.71C10.05 12.5 8.84 13 7.5 13C4.46 13 2 10.54 2 7.5C2 4.46 4.46 2 7.5 2C10.54 2 13 4.46 13 7.5C13 8.84 12.5 10.05 11.71 11C13.14 12.43 15.86 15.15 15.86 15.15C16.06 15.35 16.06 15.67 15.86 15.86ZM7.5 3C5.01 3 3 5.01 3 7.5C3 9.99 5.01 12 7.5 12C9.99 12 12 9.99 12 7.5C12 5.01 9.99 3 7.5 3Z")
            input.search__input(id="search" type="text" placeholder="search")

        .mobile-buttons
          button.mobile-buttons__search
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18")
              path(d="M15.86 15.86C15.67 16.06 15.35 16.06 15.16 15.86C15.16 15.86 12.43 13.14 11 11.71C10.05 12.5 8.84 13 7.5 13C4.46 13 2 10.54 2 7.5C2 4.46 4.46 2 7.5 2C10.54 2 13 4.46 13 7.5C13 8.84 12.5 10.05 11.71 11C13.14 12.43 15.86 15.15 15.86 15.15C16.06 15.35 16.06 15.67 15.86 15.86ZM7.5 3C5.01 3 3 5.01 3 7.5C3 9.99 5.01 12 7.5 12C9.99 12 12 9.99 12 7.5C12 5.01 9.99 3 7.5 3Z")
          button.mobile-buttons__menu
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18")
              path(d="M15.86 15.86C15.67 16.06 15.35 16.06 15.16 15.86C15.16 15.86 12.43 13.14 11 11.71C10.05 12.5 8.84 13 7.5 13C4.46 13 2 10.54 2 7.5C2 4.46 4.46 2 7.5 2C10.54 2 13 4.46 13 7.5C13 8.84 12.5 10.05 11.71 11C13.14 12.43 15.86 15.15 15.86 15.15C16.06 15.35 16.06 15.67 15.86 15.86ZM7.5 3C5.01 3 3 5.01 3 7.5C3 9.99 5.01 12 7.5 12C9.99 12 12 9.99 12 7.5C12 5.01 9.99 3 7.5 3Z")

      main.main
        button.switch-layout(type='button') change

    script(src="js/main.js")