- mod_name = 'bruno'
-
  navLinks = [
    {
      link: 'Portfolio',
      drop: [
        {link: 'Details'},
        {link: 'Lifestyle'},
      ]
    },
    {link: 'Video'},
    {link: 'Reviews'},
    {link: 'Blog'},
    {link: 'Contacts'},
  ]

doctype html
html(lang="en")
  head
    title vigbo test
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(data-n-head="true" rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='css/main.css' rel='stylesheet')
  body
    .page(class="page--" + mod_name)
      include pug/header.pug

      main.main
        button.switch-layout(type='button') change view

    script(src="js/main.js")