- mod_name = 'levi'
-
  navLinks = [
    {
      link: 'Портфолио',
      drop: [
        {link: 'Детали'},
        {link: 'Lifestyle'},
      ]
    },
    {link: 'Видео'},
    {link: 'Отзывы'},
    {link: 'Блог'},
    {link: 'Контакты'},
  ]

doctype html
html(lang="ru")
  head
    title vigbo test
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(data-n-head="true" rel="icon" type="image/x-icon" href="favicon.ico")
    link(href='css/main.css' rel='stylesheet')
  body
    .page(class="page--" + mod_name)
      include pug/header.pug

      main.main
        button.switch-layout(type='button') change

    script(src="js/main.js")